<app-header></app-header>
<ion-content>
    <div class="background-gif">
      <ion-img src="/assets/svg/shuttle_small.gif"></ion-img>
    </div>
    <div>
      <!-- <ion-progress-bar type="indeterminate" class="progress_bar" *ngIf="progress_bar"></ion-progress-bar> -->
      <div class="inner_div">
          <div class="center">
            <mat-progress-spinner *ngIf="progress_bar" diameter=50 mode="indeterminate" color="accent"></mat-progress-spinner> 
          </div>
          <ion-grid *ngIf="!progress_bar">
            <ion-row>
              <ion-col>
                <ion-text class="ion-text-center"><p class="no_margin_p">CHECK YOUR CURRENT RIDE DETAILS &nbsp;&nbsp; <span appClock></span></p></ion-text>
                <hr/>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col  text-center>
                <p class="no_margin_p" style="font-size: 20px;">
                  {{car_details_d.car_type}} - <ion-text color="success">{{car_details_d.car_no}}</ion-text>
                </p>
                <ion-row style="margin: 5px 0 5px 0;font-size: 14px;" no-padding no-margin>
                  <ion-col>
                    <p style="margin: 0px 0 0px 0;">
                      <fa-icon [icon]="['fas','clock']" size="1x" class="rstar-icon"></fa-icon>
                      Start at : {{car_details_d.start_time}}</p>
                  </ion-col>
                  <ion-col>
                    <p style="margin: 0px 0 0px 0;" class="">
                      <fa-icon [icon]="['fas','clock']" size="1x" class="rstar-icon"></fa-icon>
                      Reach at : {{car_details_d.end_time}}</p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row style="font-size: 14px;">
              <ion-col  text-center>
                <p class="no_margin_p" >
                  <fa-icon [icon]="['fas','chair']" size="1x" class="rstar-icon"></fa-icon>Total Seats - <ion-text color="tertiary">{{car_details_d.total_seat}}</ion-text>
                </p>
                <ion-row style="margin: 5px 0 5px 0;" no-padding>
                  <ion-col>
                    <p style="margin: 0px 0 0px 0;">
                      <fa-icon [icon]="['fas','chair']" size="1x" class="rstar-icon"></fa-icon>
                      Available : {{car_details_d.total_seat - car_details_d.seat_booked}}</p>
                  </ion-col>
                  <ion-col>
                    <p style="margin: 0px 0 0px 0;" class="">
                      <fa-icon [icon]="['fas','chair']" size="1x" class="rstar-icon"></fa-icon>
                      Booked : {{car_details_d.seat_booked}}</p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row style="margin: 0 0 10px 10px;">
              <ion-col>
                <p class="no_margin_p" style="" *ngIf="car_details_d.seat_booked != '0'">
                  <fa-icon [icon]="['fas','chair']" size="1x" class="rstar-icon"></fa-icon>&nbsp; Booked Seat no. - <ion-text color="tertiary">{{car_details_d.booked_seats_list}}</ion-text>
                </p>
              </ion-col>
            </ion-row>
            <ion-row style="margin-left: 10px;">
              <ion-col text-center style="padding: 0px;" size="1">
                <ion-img src="./assets/svg/logo.svg" alt="redy rider" style="width: 17px;"></ion-img>
                <ion-img src="./assets/svg/dot.svg" alt="." style="width: 3px;margin: 3px 0 3px 7px;" ></ion-img>
                <ion-img src="./assets/svg/logo.svg" alt="redy rider" style="width: 17px;"></ion-img>
              </ion-col>
              <ion-col text-left style="padding: 0px;" size="11">
                <p class="p_location">{{car_details_d.start_location}}</p>
                <p style="margin: 10px 0 10px 0;color:#02A1EB;font-size: 13px;" (click)="viewRoute(car_details_d.route_id,car_details_d.start_point_id,car_details_d.end_point_id,car_details_d.route_timing_id)"><fa-icon [icon]="['fas','route']" size="1x" class="rstar-icon"></fa-icon>&nbsp;View Route</p>
                <p class="p_location">{{car_details_d.end_location}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
      </div>
    </div>
  </ion-content>
  <ion-footer no-padding no-margin>
    <ion-grid no-padding no-margin>
      <ion-row text-center no-margin>
        <ion-col style="border-right: 2px solid white;" no-padding no-margin>
          <ion-button expand="full"  size="default" type="button"(click)="startRide(car_details_d.car_id)" [disabled]="">
            <fa-icon [icon]="['fas','play-circle']" size="1x" class="rstar-icon"></fa-icon>&nbsp;
            Start Ride
          </ion-button>
        </ion-col>
        <ion-col no-margin no-padding>
          <ion-button expand="full"  size="default" type="button" (click)="scanQrCode(car_details_d.car_id)">
            <ion-icon ios="ios-qr-scanner" md="md-qr-scanner"></ion-icon>&nbsp;
            Scan QR
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>