ion-icon {font-size: 24px;}
ion-content{--ion-background-color:white;}
.background-gif ion-img{border-bottom: 3px solid #02A1EB;}
 .inner_div{
    margin-left: 5px;
    margin-right: 5px;
}
.rstar-icon{font-size: 15px;}
.no_margin_p{margin : 0 10px 0px 0px !important; }
ion-button{
    padding: 0px !important;
    --background: #085a9a;
    margin: 0px 0 0px 0px;
}
.p_location{margin: 0 0 0 0px;
    font-size: 13px;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;}