<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" *ngIf="menu_button_visible" class="border_button">
      <ion-menu-button class="rstar-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="title_section_visible && !back_button_visible && !menu_button_visible" class="ion-text-center">
        {{title}}
    </ion-title>
    <ion-title *ngIf="title_section_visible && (back_button_visible || menu_button_visible)" >
      {{title}}
    </ion-title>
    
    <ion-title *ngIf="notification_show" slot="end" (click)="goToPage('notifications')"><ion-badge color="danger" style="position: absolute;
      bottom: 18px;
      right: 17px;
      z-index: 99999;
      border-radius: 12px;" *ngIf="notification_count!=0">{{notification_count}}</ion-badge>
      <ion-icon ios="ios-notifications" md="md-notifications" style="font-size: 26px;margin-top: 5px;" ></ion-icon></ion-title>
    
    <ion-buttons slot="start" *ngIf="back_button_visible" class="border_button">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="{{network_check_class}}" *ngIf="network_check_class_show" [style.background]="network_check_class=='disconnect'?'red':'#4CAF50'">{{network_msg}}</div>

  <!-- Default Refresher -->
  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  </ion-content>

  <!-- Custom Refresher Properties -->
  <ion-content>
    <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  </ion-content>

  <!-- Custom Refresher Content -->
  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="chevron-down-circle-outline"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
  </ion-content>


</ion-header>


