#map {
    width: 100%;
    height: 550px;
    }
#markerLayer img {
    animation: pulse .5s infinite alternate;
    -webkit-animation: pulse .5s infinite alternate;
    transform-origin: center;
    -webkit-transform-origin: center;
    }

.footer-bus-route-details{
    background: #085a9a;
    color:white;
    text-align: center;
    padding: 0 10px 0 10px;
}
// ion-toolbar{
//     --background:transparent;
//     --color:white;
// }
ion-header {
    --ion-background-color: #085a9a;
    --ion-text-color:#fff;
}
.qr_card{
    text-align: center;
    background: transparent;
    box-shadow: none;
    color: white;
    margin-right: 20px;
}
@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}
.boarding-badge{
    animation: heartbeat 1s infinite;
}
ion-badge{
    top: 4px;
    position: relative;
}
.mat-stepper-horizontal, .mat-stepper-vertical{
  background: transparent !important;
}

// ::ng-deep .mat-stepper-vertical-line::before{
//   border-left-color: red !important;
// }

::ng-deep .mat-step-label-selected{
  font-size: 18px;
}
::ng-deep .mat-step-icon{
  height: 30px !important;
  width: 30px !important;
}
::ng-deep .mat-vertical-stepper-header {
  pointer-events: none !important;
  padding: 22px !important;
  height: 10px !important;
}


